<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>شــركـة عقـــــار ايــزي
        
.AQAREASY S.R.L
شركة ذات مسؤولية محدودة (SRL) مسجلة رسمياً بجمهورية ايطاليا ومقرها في مدينة كومو تمارس أعمالها في مجال التسويق والاستثمار والتطوير العقاري إضافةً إلى إدارة الأملاك .. وقد أُنشئت الشركة لتبقى عين المستثمرين العرب والمهتمين في العقارات الأوروبية مع تقديمها لخدمة التسويق العقاري عالمياً عبر موقعها الإلكتروني من خلال أدوات تقنية متميزة وذلك بالاستعانة بنظام الخرائط الفضائية وأفضل معايير البحث لأجل تقديمها للباحث عن العقار بشكل احترافي ومــميز .

المركز الرئيسي للشركة:
مدينة كـومــو(ايطـاليا)
الدور الثانيVIA FRATELLI RECCHI 7
ص.ب:CP 103 COMO CENTRO 22100 كومو
 الهاتف: 00393383544555
(السجل التجاري)REA: 32296
PARTITA IVA(الرقم الضريبي) : 03593960135</string>
</array>
</plist>
