<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>المصالح الحكومية</string>
		<key>icon</key>
		<string>officebuilding</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>القطار</string>
		<key>icon</key>
		<string>train</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>التسوق</string>
		<key>icon</key>
		<string>supermarket</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>الأندية الرياضية</string>
		<key>icon</key>
		<string>fitnessclub</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>خدمات أخري</string>
		<key>icon</key>
		<string>generalservices</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>المستشفيات</string>
		<key>icon</key>
		<string>hospital</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>البنوك</string>
		<key>icon</key>
		<string>atm</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>المدارس</string>
		<key>icon</key>
		<string>school</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>الفنادق</string>
		<key>icon</key>
		<string>hotel</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>الحدائق</string>
		<key>icon</key>
		<string>park</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>المساجد</string>
		<key>icon</key>
		<string>masjid</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>موقع تاريخي</string>
		<key>icon</key>
		<string>historicsite</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>منطقة صناعية</string>
		<key>icon</key>
		<string>industrialarea</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>مقابر</string>
		<key>icon</key>
		<string>cemetery</string>
		<key>checked</key>
		<false/>
	</dict>
</array>
</plist>
